@use './helpers/variables' as *;
@use './helpers/mixins' as *;
@use './helpers/placeholders' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

::selection {
  color: #fff;
  background: #cf112d;
}
.container {
  width: 75%;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.social-links-item {
  cursor: pointer;
  padding: $header_top_padding;
  border-left: 1px solid #4c4c59;
  transition: $transition_duration all ease-out;
  height: 42px;
  width: 42px;
  height: 100%;
  @include social-inks-hover;
}

@import './header/header';
@import './main/main';
@import './footer/footer';
